html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #FF6E37;
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
h1 {
  
}
h2 {
  font-family: 'Roboto Condensed', sans-serif;
}
p {
  font-family: 'Open Sans', sans-serif;
}
a {
  
}

ul {
  font-family: 'Open Sans', sans-serif;
}

header {
  
}
footer {
  
}

main {
  
}
section {
  
}

.cardboard {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  height: 325px;
  position: relative;
  animation: 2s warp ease-in-out infinite;
  transform: scale(0.25);
}
.cardboard:before {
  position: absolute;
  top: 0;
  width: 175px;
  height: 325px;
  background-color: #FFF;
  border-radius: 30px 0px 20px 30px;
  content: '';
  left: 0;
}
.cardboard:after {
  position: absolute;
  top: 0;
  width: 175px;
  height: 325px;
  background-color: #FFF;
  border-radius: 0px 30px 30px 20px;
  content: '';
  right: 0;
}

.nose {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  width: 500px;
  height: 312px;
  background-color: #FFF;
}
.nose:before {
  position: absolute;
  top: 197px;
  left: 174px;
  width: 72px;
  height: 0px;
  border-style: solid;
  border-width: 25px 40px 90px 40px;
  border-color: transparent transparent #FF6E37 transparent;
  content: '';
}
.nose:after {
  position: absolute;
  top: 198px;
  left: 211px;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  content: '';
  background-color: #FF6E37;
}

.eyes {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 325px;
}
.eyes:before {
  z-index: 2;
  position: absolute;
  top: 100px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: #FF6E37;
  content: '';
  left: 75px;
}
.eyes:after {
  z-index: 2;
  position: absolute;
  top: 100px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: #FF6E37;
  content: '';
  right: 75px;
}

@keyframes warp {
  0% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

