<!DOCTYPE html>
<html lang="en">
<head>
  <title>sjcobb homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <script src="js/lib/vue.js"></script>
</head>
<body class="bootstrap4">
  <div id="l-date" class="container">
    <button id="date-1999" class="btn btn-primary">1999</button>
    <button id="date-2011" class="btn btn-primary">2011</button>
    <button id="date-2017" class="btn btn-primary">2017</button>
  </div>
  <div id="l-page" class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-12 col-md-9">
        <p class="float-right hidden-md-up">
          <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron">
          <h1>Why? Why not.</h1>
          <p>Here's some stuff I made or am making.</p>
        </div>

        <section class="l-vue l-region">
          <div id="app">
            <p>{{ message }}</p>
          </div>
          
          <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
          </div>

          <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
          </div>

          <div id="app-7">
            <ol>
              <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
            </ol>
          </div>

        </section>

        <div class="row">
          <div class="col-6 col-lg-4">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card Title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card Title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card Title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card Title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card Title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4">
            <div class="card">
              <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card Title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div><!--/row-->
      </div><!--/span-->

      <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
        <h3>Extra Links</h3>

        <div id="app-sidebar">
          <ul class="list-group">
            <link-item v-for="item in linkList" v-bind:link="item"></link-item>
          </ul>
        </div>

      </div><!--/span-->
    </div><!--/row-->
    <hr>
    <footer>
      <p>Footer Text</p>
    </footer>

  </div>

  <script src="js/app.js"></script>
</body>
</html>
